<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <!-- <link rel="manifest" href="/static/core/manifest.json" > -->
    <title>GESTFIT</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-950 text-white">
    {% block content %}{% endblock %}

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/core/sw.js');
        }
    </script>
</body>
</html>